.List {
  display: flex;
  align-items: center;
  height: 100px;
  margin: 0 10px 10px 10px;
  padding-top: 0;
  font-size: 1em;
  background: white;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px;
  cursor: pointer;
}

.List-admin {
  display: flex;
  align-items: center;
  height: 80px;
  margin: 0 10px 10px 10px;
  padding-top: 0;
  font-size: 0.8em;
  background: white;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px;
  cursor: pointer;
}

.color-indication {
  margin: 0;
  padding: 0;
  width: 5px;
  height: 100%;
}

.item-container {
  margin-left: 25px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}

p {
  margin: 0;
}