.ressources-global {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.ressources-collab {
    grid-area: 1 / 1 / 2 / 2;
    border-right: 1px solid #587795;
}

.ressources-outils {
    grid-area: 1 / 2 / 2 / 3;
    border-left: 1px solid #587795;
}

h2 {
    text-align: center;
}