* {
    font-family: Arial, Helvetica, sans-serif;
}

.ressources-global {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

h2 {
    text-align: center;
    padding: 5%;
    margin: 0;
    background-color: #587795;
    color: aliceblue;
}

.ressources-collab {
    grid-area: 1 / 1 / 2 / 2;
    border-right: 1px solid aliceblue;
}

.ressources-outils {
    grid-area: 1 / 2 / 2 / 3;
    border-left: 1px solid aliceblue;
}

.collab-filter-add {
    display: flex;
    justify-content: space-around;
    padding: 0 0 5% 0;
    background-color: #587795;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.outils-filter-add {
    display: flex;
    justify-content: space-around;
    padding: 0 0 5% 0;
    background-color: #587795;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.button-add {
    background-color: aliceblue;
    margin: 0;
    padding: 2% 2% 2% 2%;
    border-radius: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-add p {
    margin: 0;

}

.collab-global {
    width: 100%;
}

.filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.filter p {
    margin-top: 0;
}

.list {
    box-sizing: border-box;
    width: 100%;
    padding: 2% 0 2% 3%;
}

table {
    width: 100%;
}

td {
    padding: 2% 0 2% 0;
}

.elem1 {
    width: 5%;
    border-right: #587795;
}

.elem2 {
    width: 15%;
}

.elem3 {
    width: 15%;
}

.elem4 {
    width: 20%;
}

.elem5 {
    width: 20%;
}

.elem6 {
    width: 5%;
}




/* .vignette {
    /* display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; */
    /* display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    width: 100%;
} */ 