.ressources-global {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.ressources-collab {
    grid-area: 1 / 1 / 2 / 2;
    border-right: 1px solid #587795;
}

.ressources-outils {
    grid-area: 1 / 2 / 2 / 3;
    border-left: 1px solid #587795;
}

h2 {
    text-align: center;
}

.collab-list {
    width: 100%;
}

table {
    width: 100%;
}

/* .vignette {
    /* display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; */
    /* display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    width: 100%;
} */ 

.elem1 {
    width: 5%;
}

.elem2 {
    width: 15%;
}

.elem3 {
    width: 15%;
}

.elem4 {
    width: 20%;
}

.elem5 {
    width: 20%;
}

.elem6 {
    width: 5%;
}