.TypeInit {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.Intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.TypeItin-Select {
  width: 50%;
  height: 50px;
	appearance: none;
	border-radius: 3px;
	font-size: 1.5em;
	text-align-last:center;
}

h1 {
  font-size: 4em;
  text-align: center;
  color: #00b74d;
}

.button-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.miss-card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.miss-card-céréale {
  width: 30%;
  padding: 5%;
  border: 2px solid #00b74d;
  border-radius: 5px;
  text-align: center;
  margin: 1%;
  background-color: #f8f9fa;
}

.nb-parce {
  display: block;
  margin: auto;
  margin-top: 1%;
  width: 12%;
  border: 1px solid;
  border-color: #ccc;
  border-radius: 5px;
  color: black;
}

.btn-itin {
  background-color: transparent;
  border: 0px solid;
  height: 20px;
  width: 250px;
  color: #ccc;
  padding-top: 15px;
  padding-bottom: 30px;
}

.btn-itin {
  color: black;
  transition: 0.3s all;
}

.btn-itin:before,
.btn-itin:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  transition: 0.3s all;
}

.btn-itin:before {
  left: 0;
  border-top: 2px solid green;
}

.btn-itin:after {
  right: 0;
  border-bottom: 2px solid green;
}

.btn-itin:hover {
  font-weight: bold;
  letter-spacing: 2px;
  color: #00b74d;
}

.btn-itin:hover:after,
.btn-itin:hover:before {
  width: 100%;
}
