.Dashboard {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(109px, auto);
}

.Dashboard-Meteo {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    border: 1px solid black;
}

.Dashboard-Schedule {
    grid-column: 1 / 3;
    grid-row: 3 / 7;
    border: 1px solid black;
}

.Dashboard-List {
    grid-column: 3;
    grid-row: 1 / 7;
    border: 1px solid black;
}