/* General */
.Login {
    display: block;
    margin: auto;
    padding: auto;
}

.Login-Title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
    margin: 5% 0 4% 0;
}

/* Form */
.Login-Form {
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background: #587795;
    height: 60vh;
    margin: 0 10% 2% 10%;
    border-radius: 20px;
}

.Login-RememberMe {
    width: 50%;
    margin: 3% auto 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
}

.RememberMe {

}

.Login-Input {
    width: 50%;
    height: 30px;
    max-height: 10%;
    margin: 3% auto 0 auto;
}

.Login-Submit {
    font-size: 15px;
    width: 20%;
    height: 10%;
    margin: 10% auto 0 auto;
    background-color: #e8e8e8;
    border-radius: 20px;
}